<h1>Welcome Jacob's Rails Study.</h1>
<p>I'm OpenShift in jacobrails project.</p>
<br>
<p>본 서비스는 "초보자를 위한 레일스 가이드라인"의 샘플 프로젝트입니다.</p>
<br>
<div>
  <ul>
    <li>
      2015.10.28 수요일 / jacob.c 진도 현황 -> <%= link_to "5.7", "https://rorlab.gitbooks.io/railsguidebook/content/contents/walkthrough/model_association.html" %>
    </li>
    <li>
      2015.10.29 목요일 / jacob.c 진도 현황 -> <%= link_to "5.10", "https://rorlab.gitbooks.io/railsguidebook/content/contents/walkthrough/bulletin_type.html" %>
    </li>
    <li>
      5.14 > '그리고 config/routes.rb 파일을 열어 관련 라우팅 테이블 수정해 주어야 한다. 아래는 레일스의 컨트롤러 제너레이터를' >>>> 진행하다가 말았음
    </li>
  </ul>
</div>
<br>
<%= link_to "글작성", bulletin_posts_path('1'), class:'btn btn-default' %>
