<h1>Welcome Jacob's Rails Study (with AWS)</h1>
<p>본 서비스는 <%= link_to "초보자를 위한 레일스 가이드라인", "https://rorlab.gitbooks.io/railsguidebook" %>의 샘플 프로젝트입니다.</p>

<br>

<div>
  <ul>
    <li>
      2015.10.28 / 5.7
    </li>
    <li>
      2015.10.29 / 5.10
    </li>
    <li>
      2015.11.02 / 5.14
    </li>
    <li>
      2015.11.03 / 5.15<br>
      - 진행중.. 근데 갤러리에서 이미지가 뷰가 안되는거 같음;; 그리고 태그도 등록이 안되는거 같음..
    </li>
  </ul>
</div>

<br>

<div>
  <ul>
    <li>GitHub : <%= link_to "https://github.com/ucpwang/rails_study" %></li>
    <li>AWS rails url  : <%= link_to "http://ec2-52-25-57-255.us-west-2.compute.amazonaws.com:3000" %></li>
  </ul>
</div>
